<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div>
  <div sec:authorize="isAuthenticated()">
    Welcome <span sec:authentication="name">Username</span>
    &nbsp;
    <span sec:authentication="principal.authorities">Roles</span>
    <form th:action="@{/Logout}" method="post">
      <input type="submit" value="Logout"/>
    </form>
  </div>
</div>

<div class="container">
<!--  <ul class="link-category">-->
<!--    <li th:each="c : ${categories}">-->
<!--      <a th:href="@{/{id}(id=${c.id})}" th:text="${c.name}"></a>-->
<!--    </li>-->
<!--  </ul>-->
  <a th:href="@{/category}" >List category</a>
  <div class="row mt-2 mb-2">
    <div class="col">
      <form th:action="@{/searchpaginated}">
        <div class = "form-inline float-left">
          <label>Name</label>
          <input type="text" class="form-control ml-2" name="name" aria-describedby="helpId" placeholder="Name">
          <button class="btn btn-outline-primary ml-2">Search</button>
        </div>
      </form>
    </div>
  </div>
  <table class="table mt-4">
    <thead>
    <tr>
      <th>STT</th>
      <th>Title</th>
      <th></th>
      <th>Cover</th>
      <th>Content</th>
      <th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Action</th>
    </tr>
    </thead>
    <tbody>
    <div th:if="${!blogs.isEmpty()}">
      <tr th:each="blog, iterStat : ${blogs}">
        <td>
          <span th:text="${iterStat.count}"></span>
        </td>
        <td>
          <span th:text="${blog.getTitle()}"></span>
        </td>
        <td th:each="cover : ${blog.getCovers()}">
          <img th:src="${'/image/' + cover.getName()}" width="100px"/>
        </td>
        <td>
          <span th:text="${blog.getContent()}"></span>
        </td>
        <td sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">
          <a th:href="@{/{id}/edit(id=${blog.id})}" >Edit</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a sec:authorize="hasAuthority('ADMIN')" type="button" data-toggle="modal" th:data-id="${blog.id}" data-target="#delete-modal" >Delete</a>
        </td>
      </tr>
    </div>
    <div th:if="${blogs.isEmpty()}">
      <tr>
        <td style="text-align: center">Null</td>
      </tr>
    </div>
    </tbody>
  </table>
  <a th:href="@{/add}" >Add blog</a>
</div>

<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Delete confirm?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-danger">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let deleteForm = document.forms["delete-form"];
    let btnDelete = document.getElementById("btn-delete");

    let blogID;

    $('#delete-modal').on('show.bs.modal', function(event) {
      let button =  $(event.relatedTarget);
      blogID = button.data('id');
      console.log(button);
      console.log(blogID);
    })

    btnDelete.onclick = () => {

      let url = `/${blogID}/delete`;
      console.log(url);

      $.ajax({
        url: `/${blogID}/delete`,
        type: 'DELETE',
        success: function() {
          window.location.reload();
        }
      })
    }
  })

</script>

</body>
</html>